* {
    border: 0;
    margin: 0;
    padding: 0;
}

canvas {
    margin-top: 30px;
}

#start{
    background:#1abc9c;
    padding:1.2em 1.4em;
    font-size:20px;
    margin:5px;
    border:none;
    border-radius:10px;
    box-shadow:0 9px gray;
    cursor:pointer;
    outline:none;
    position: absolute;
    top: 480px;
    left: 680px;
    /* background: rgb(65, 18, 18); */
}
#reset{
    background:#1abc9c;
    padding:1.2em 1.4em;
    font-size:20px;
    margin:5px;
    border:none;
    border-radius:10px;
    box-shadow:0 9px gray;
    cursor:pointer;
    outline:none;
    position: absolute;
    top: 480px;
    left: 700px;
}